body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
}
.header {
  margin-left: 20px;
}
.igm {
  margin-left: 20px;
}
h2 {
  margin-left: 20px;
}
.contacts-item {
  font-size: 18px;
  font-style: italic;
}
.contacts-span {
  font-weight: 700;
}
.aboutme-text {
  margin-left: 20px;
  font-size: 18px;
}
.code {
  margin-left: 20px;
  line-height: 5%;
  border: 1px solid rgb(10, 20, 209);
  display: inline-block;
  font-style: italic;
  padding: 10px 10px;
}
.skills-item {
  font-size: 18px;
}
.education-item {
  font-size: 18px;
}
.english-text {
  margin-left: 20px;
  font-size: 18px;
}
.footer {
  text-align: center;
  word-spacing: 8px;
  font-size: 18px;
}
.footer-img {
  width: 100px;
}
